.btn {
    margin: 3rem 0;
    border: none;
    outline: none;
    background-color: var(--color-Primary);
    width: 80%;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    border-radius: 10rem;
    font-weight: 400;
    font-size: 1.6rem;
    color: $color-white;
    padding: 1.6rem 0;
    cursor: pointer;
    transition: all .3s ease-out;

    &:hover {
        background-color: var(--color-Primary-dark);
    }
}