.one__category__profile{
    &__imgs__title {
        font-size: 1.8rem;
        margin-left: 2rem;
        padding: 2rem 0;
    }
    &__img {
        margin-left: 2rem;
        width: 22rem;
        cursor: pointer;
    }
}