.padding__bottom {padding-bottom: 3rem;}

.display {display: block;}

.marginTop-big {margin-top: 2rem;}
.marginTop-medium {margin-top: 1.5rem;}
.marginTop-small {margin-top: 1rem;}

.marginRight-big {margin-right: 2rem;}
.marginRight-medium {margin-right: 1.5rem;}
.marginRight-small {margin-right: 1rem;}

.marginBottom-extralarge {margin-bottom: 4rem;}
.marginBottom-big {margin-bottom: 2rem;}
.marginBottom-medium {margin-bottom: 1.5rem;}
.marginBottom-small {margin-bottom: 1rem;}

.width80 {width: 80%;}
.width60 {width: 60%;}
.cursor-pointer {cursor: pointer;}