.select__profile {
    &__container {
        width: 60%;
        @include center-element(40%);
    }

    &__title {
        text-align: center;
        font-size: 4.2rem;
        font-style: italic;
        color: $color-black;
    }

    &__btn-search {
        justify-content: space-around;
        display: flex;
        align-items: center;
    }
  
    &__wrapper {
        width: 80%;
        margin: auto;
    }
}