.search__book {
    &__wrapper {
        margin-top: 7rem;
        height: 100vh;
        background-color: #f9fafd;
    }
    &__content {
        width: 80%;
        margin: auto;
    }
    &__recent-searchs {
        margin-top: 3rem;
    }
    &__recent-search-title {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 1.6rem;
        color: #0a96e6;
        background-color: #e6f5fe;
        display: inline-block;
        border-radius: 10rem;
        padding: .8rem 4rem;
        margin-right: 1rem;
        margin-bottom: 2rem;
        cursor: pointer;
        transition: all .2s ease-out;

        &:hover {
            background-color: darken($color: #e6f5fe, $amount: 20%);
            color: white;
        }
    }
    &__title__wrapper {
        margin-top: 2rem;
    }
}