.subscription__package {
    margin-right: 1rem;
    width: 16rem;
    border: 2px solid var(--color-Grey-dark-2);
    text-align: center;
    border-radius: 1.2rem;
    // border: 3px solid transparent;

    &__category {
        overflow: hidden;
        width: 100%;
        // background-color: crimson;
        color: white;
        text-align: center;
        padding: 1.4rem 0 .8rem 0;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
    }

    &__price {
        margin-top: 1rem;
        font-size: 3rem;
        // color: crimson;
        font-weight: bold;
    }

    &__duration {
        font-size: 2.4rem;
        // color: crimson;
        font-weight: bold;
    }

    &__message {
        font-size: 1.3rem;
        padding: 0 .8rem;
    }
}

.activeBorder {
    border: 3px solid orangered;
}