.subscription {
    &__wrapper {
        @include center-element(50%);
        width: 40rem;
        cursor: pointer;
    }
    &__content {
        
    }
    &__package__wrapper {
        display: flex;
        justify-content: center;
        margin: 2rem 0;
    }

    &__button {
        margin-left: 10%;
    }
    &__terms {
        font-size: 1.4rem;
        padding-top: 1.2rem;
        color: var(--color-Grey-dark-2);
        text-align: justify;
    }
    
}