.second__input {
    //width: 80%; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    
    border-radius: 3px;
    &-title {
        margin-left: 1rem;
    }
    

    &__interest {
        font-size: 1.2rem;
        // margin-top: 1rem;
        // padding-bottom: 2px;
    }
}

#second__input__para {
    margin: 2px 0 0px 0;
}

.borderAll {
    border: 2px solid #ddd;
}

.borderbottom {
    border-bottom: 2px solid #ddd;
}