.view__more {
    &__wrapper {
        width: 94%;
        margin: 9rem auto 5rem auto;
    }

    &__primary__title {
        font-family: 'Lobster', sans-serif;
        font-size: 4rem;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 5rem;
    }
    &__secondary__title {
        font-family: 'Lobster', sans-serif;
        font-size: 2.6rem;
    }
}